<!DOCTYPE html>
<html lang="de">
  <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ site.baseurl}}/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ site.baseurl}}/static/css/style.css">
  <link rel="shortcut icon" href="{{ site.baseurl}}/static/images/favicon.png" />
</head>
<body>
  <div class="container">
    <header>
      <h1>FragDenStaat.de Blog</h1>
    </header>
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
      {{ content }}
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">

      </div>
    </div>
    <footer>
      <a href="https://fragdenstaat.de/hilfe/ueber/#impressum">Impressum</a>
    </footer>
  </div>


<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(["trackPageView"]);
  _paq.push(["enableLinkTracking"]);

  (function() {
    var u="https://fragdenstaat.de/piwik/";
    _paq.push(["setTrackerUrl", u+"piwik.php"]);
    _paq.push(["setSiteId", "3"]);
    var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
    g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Piwik Code -->

</body>
</html>
